name: Test

on:
  push:
    branches: [main]
    paths-ignore:
      - README.md
      - .editorconfig
  pull_request:
    branches: [main]
    paths-ignore:
      - README.md
      - .editorconfig

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "^1"
      - name: Setup golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7.2
          args: --verbose

  test:
    needs: lint
    strategy:
      matrix:
        os: [ubuntu-latest]
        go: [1.25]
        include:
          - os: ubuntu-latest
            go-build: ~/.cache/go-build

    name: ${{ matrix.os }} @ Go ${{ matrix.go }}

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6

    - uses: actions/cache@v5
      with:
        path: |
          ${{ matrix.go-build }}
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}

    - name: Run Go tests
      run: go test -race -cover ./...
